@model _2_1_2015_WSite.Models.AppointmentViewModel
@{
    ViewBag.Title = "Create";
}




<div class="col-md-12">
    <div class="form-horizontal col-md-offset-3 col-md-6 col-md-offset-3 box-outer">

        <h2>Request/Update Appointment</h2>
        @using (Html.BeginForm())
        {

        <div class="form-group">
            @Html.LabelFor(a => a.Date, new { @class = "col-md-3 form-label-right"})
            <div class="col-md-9">
                @Html.TextBoxFor(a => a.Date, @Model.Date.ToShortDateString(), new { @class = "form-control", @id = "date" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(a => a.Date, new { @class = "col-md-3 form-label-right" })
            <div class="col-md-9">
                @Html.TextBoxFor(a => a.Date, @Model.Date.ToShortDateString(), new { @class = "iput-append date add-on glyphicon glyphicon-calendar form-control", @id = "dp2" })
                <span class="add-on glyphicon glyphicon-calendar"></span>
            </div>
        </div>

        @*<div class="form-group">
            <div class="input-append date col-md-3" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
                <div class="col-md-9">
                    <input class="span2" size="16" type="text" value="12-02-2012" readonly>
                    <span class="add-on glyphicon glyphicon-calendar"></span>
                </div>
                
            </div>
        </div>*@

            <div class="form-group">
                @Html.LabelFor(a => a.ApptTimeFrame, new { @class = "col-md-3 form-label-right" })
                <div class="col-md-9">
                    @Html.DropDownListFor(a => a.ApptTimeFrame.ApptTimeFrameId, new SelectList(Model.ApptTimeFrames, "ApptTimeFrameId", "ApptTimeFrameDesc"), "-Select Appointment Type-", new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(a => a.ApptTimeFrame.ApptTimeFrameId, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(a => a.Reason, new { @class = "col-md-3 form-label-right" })
                <div class="col-md-9">
                    @Html.TextBoxFor(a => a.Reason, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor( a => a.ApptType, new { @class = "col-md-3 form-label-right" })
                <div class="col-md-9">
                    @Html.DropDownListFor(a => a.ApptType.ApptTypeId, new SelectList(Model.ApptTypes, "ApptTypeId", "ApptTypeDesc"), "-Select Appointment Type-", new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(a => a.ApptType.ApptTypeId, "", new { @class = "text-danger" })
            </div>


            if (User.IsInRole("Admin"))
            {
                <div class="form-group">
 	 	 	 	 	@Html.LabelFor( a => a.Accepted, new { @class = "col-md-3 form-label-right" })
                    <div class="col-md-9">
                        @Html.CheckBoxFor(a => a.Accepted, new { @class = "form-control" })
                    </div>
                </div>
            }
            else
            {
                <div class="form-group">
 	 	 	 	 	@Html.LabelFor(	a => a.Accepted, new { @class = "col-md-3 form-label-right" })
                    <div class="col-md-9">
                        @Html.CheckBoxFor(a => a.Accepted, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
            }        

            <input type="hidden" value="@Model.AppointmentId" name="id" />
            <input type="submit" class="btn btn-primary" value="Request/Update Appointment" />
        }
    </div>
</div>

<script src="~/Scripts/bootstrap-datepicker.js"></script>
<script>
    $(function () {
        $('#date, #dp2, #dp3').datepicker({        
            format: 'mm/dd/yyyy',
            language: 'en',
            todayBtn: "linked"
        });
    
    });
</script>




