@model _2_1_2015_WSite.Models.BlogViewModel
@{
    ViewBag.Title = "BlogDetail";
}
    
<div class="box-outer col-md-12">
    <div class="blog-author">
        <center>
            <p style="align-content: center"><b>  @Model.CreatedByName</b></p>
            <img src="@Model.ImgUrl" /><br />
        </center>
    </div>
    <h3><u>@Model.MessageTitle</u></h3>
    <h5 style="position: center">Posted: @Model.DatePostedString </h5>
    <div>@Html.Raw(Model.Message)</div>
</div>


