@model _2_1_2015_WSite.Models.CommunicationListViewModel

@{
    ViewBag.Title = "Box";
}


@if(Model.CommType == "Blog Post" && User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("New Blog", "Create", null, new { @class = "btn btn-primary btn-xs " })
    </p>
}
else if(Model.CommType == "Announcement" && User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("New Announcement", "Create", null, new { @class = "btn btn-primary btn-xs " })
    </p>
}


    @if (Model.Comms.Count > 0)
    {
        <div class="comm-box-outer">
            <h2>Drafts</h2>

            <table class="table table-condensed" id="authorComms">
                <thead>
                    <tr>
                        <th>Communication Type</th>
                        <th>Title</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Comms)
                    {
                    if (item.CommunicationTypeDesc == Model.CommType 
                            && ((Model.CommType == "Blog Post" && !item.Published) 
                                ||(Model.CommType == "Announcement" && (item.PubDate > DateTime.Today || item.UnPubDate < DateTime.Today))))
                        {
                            <tr>
                                <td class="col-md-3">
                                    @(item.CommunicationTypeDesc)
                                </td>
                                <td class="col-md-6">
                                    @(item.MessageTitle)
                                </td>
                                <td class="col-md-3">
                                    @Html.ActionLink("View", "Details", new { id = item.CommunicationId }, new { @class = "btn btn-default btn-xs " })
                                    @Html.ActionLink("Edit", "Edit", new { id = item.CommunicationId }, new { @class = "btn btn-default btn-xs " })
                                    @if (item.CommunicationTypeDesc == "Email" || item.CommunicationTypeDesc == "Online Chat Message")
                                    {
                                        @Html.ActionLink("Send", "Send", new { id = item.CommunicationId }, new { @class = "btn btn-default btn-xs " })
                                    }
                                    else if (item.CommunicationTypeDesc == "Blog Post")
                                    {
                                        @Html.ActionLink("Post", "ToggleCommunicationPosting", new { id = item.CommunicationId, creatorId = item.CreatedById }, new { @class = "btn btn-default btn-xs " })
                                    }
                                    @Html.ActionLink("Delete", "Delete", new { id = item.CommunicationId }, new { @class = "btn btn-danger btn-xs " })
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    }

    @if (Model.Comms.Count > 0)
    {
        <div class="comm-box-outer">
            @if (Model.CommType == "Blog Post")
            {
                <h2>Posted Communications</h2>
            }
            else if (Model.CommType == "Announcement")
            {
                <h2>Current Announcements</h2>
            }

            <table class="table table-condensed" id="postedComms">
                <thead>
                    <tr>
                        <th>Communication Type</th>
                        <th>Title</th>
                        @if (Model.CommType == "Announcement")
                        {
                            <th>Start Date</th>
                            <th>End Date</th>
                        }
                        else
                        {
                            <th>Posted On</th>
                        }
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Comms)
                    {
                        if (item.CommunicationTypeDesc == Model.CommType
                            && ((Model.CommType == "Blog Post" && item.Published)
                                || (Model.CommType == "Announcement" && (item.PubDate <= DateTime.Today && item.UnPubDate >= DateTime.Today))))
                        {
                        <tr>
                            <td class="col-md-2">
                                @(item.CommunicationTypeDesc)
                            </td>
                            @if (Model.CommType == "Announcement")
                            {
                                <td class="col-md-4">
                                    @(item.MessageTitle)
                                </td>
                            }
                            else
                            {
                                <td class="col-md-6">
                                    @(item.MessageTitle)
                                </td>
                            }
                            
                            @if (Model.CommType == "Announcement")
                            {
                                <td class="col-md-2">
                                    @(item.PubDate)
                                </td>
                                <td class="col-md-2">
                                    @(item.UnPubDate)
                                </td>
                            }
                            else {
                                <td class="col-md-2">
                                    @(item.DatePosted)
                                </td>
                            }
                            <td class="col-md-2">
                                @Html.ActionLink("View", "Details", new { id = item.CommunicationId }, new { @class = "btn btn-default btn-xs " })
                                @if (Model.CommType == "Blog Post")
                                {
                                    @Html.ActionLink("Unpost", "ToggleCommunicationPosting", new { id = item.CommunicationId, creatorId = item.CreatedById }, new { @class = "btn btn-default btn-xs " })
                                }
                                else if (Model.CommType == "Announcement")
                                {
                                    @Html.ActionLink("Edit", "Edit", new { id = item.CommunicationId }, new { @class = "btn btn-default btn-xs " })
                                }
                           </td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    }


<script>
    $(function () {
        $('#authorComms').dataTable({ "lengthMenu": [5, 10, 15, 25] });
        $('#postedComms').dataTable({ "lengthMenu": [5, 10, 15, 25] });
    });
</script>