@model List<_2_1_2015_WSite.Models.BlogViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-9 blog-section">
        @*<div class="col-md-10">
            @Html.Action("Header")
           @* <img class="slm-img" src="~/Content/images/ShelbyV.jpg" />*@
        @*</div>*@
        @Html.Action("Announcements", "Communication")
        <div>
            @if (@Model.Count > 0)
            {
                <table class="table blog-table" id="blogs">
                    <thead><tr><th></th></tr></thead>
                    <tbody>
                        @foreach (var blog in Model)
                        {
                            <tr>
                                <td>
                                    <div class="blog-post">
                                        @*<div class="blog-author">
                                                <center>
                                                    <p style="align-content: center"><b> @blog.CreatedByName</b></p>
                                                    <img src="@blog.ImgUrl" /><br />
                                                </center>
                                            </div>*@
                                        <div>
                                            <h3><u>@blog.MessageTitle</u></h3>
                                            <h5>Posted By: @blog.CreatedByName on @blog.DatePostedString </h5>
                                            <a href="/Communication/BlogDetail?id=@(blog.BlogId)"><h4>@Html.Raw(blog.MessageLead)</h4></a>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            }

            @* <h2>Hi, I’m Shelby. I’m a coach, writer, entrepreneur. I help people get their shit together. Some people say my work radically changed their lives. Others dabble in my ideas and then go on to find something else. Either way, welcome!</h2>*@

           
        </div>
    </div>   

    <div class="col-md-3 blog-section">
        <div class="box-outer">
            <div class="box-inner">
                <center>
                    <h4 style="align-content: center">Sign up for our Health &amp; Happiness Newsletter and get motivating health and fitness tips and articles</h4>
                    <form action="http://fitproconnect.com/ListBuilders/Subscribe.aspx" method="post">
                        <div class="form-group">
                            <label for="firstName">First Name: </label>
                            <input class="form-control" type="text" id="firstName" name="SubscriberFirstName"><br>
                            <label for="lastName">Last Name: </label>
                            <input class="form-control" type="text" id="lastName" name="SubscriberLastName"><br>
                            <label for="eMail">Email: </label>
                            <input class="form-control" type="text" id="eMail" name="SubscriberEmail"><br>
                            <input type="submit" class="btn btn-info" value="Sign Me Up!" />
                            <input type="hidden" name="ListBuilderID" value="890780e5-1135-471c-8d57-6cea5fa1bb8b">
                        </div>
                    </form>
                </center>
            </div>
        </div>
        <div class="box-outer">
            <a href="http://www.challengecharity.com"><img src="~/Content/images/ChallengeCharity.png" alt="Challange: Charity logo" class="ch-charity"/></a>
        </div>
    </div>
</div>

 <script>
    $(function () {
        $('#blogs').dataTable({
            "lengthMenu": [5, 10, 15, 25]
        }).removeClass("dataTable");
    });
</script> 

