@model List<_2_1_2015_WSite.Models.BlogViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-9 blog-section">
        @Html.Action("Announcements", "Communication")
        <div>
            @if (@Model.Count > 0)
            {
                <table class="table blog-table" id="blogs">
                    <thead class="hidden"><tr><th></th><th></th></tr></thead>
                    <tbody>
                        @foreach (var blog in Model)
                        {
                            <tr>
                                <td class="hidden">@blog.DatePosted</td>
                                <td>
                                    <div class="blog-post">
                                        <div>
                                            <a href="/Communication/BlogDetail?id=@(blog.BlogId)"><h3><u>@blog.MessageTitle</u></h3></a>
                                            <h5>Posted By: @blog.CreatedByName on @blog.DatePostedString </h5>
                                            <a href="/Communication/BlogDetail?id=@(blog.BlogId)"><h4>@Html.Raw(blog.MessageLead)</h4></a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

        </div>
    </div>   

    <div class="col-md-3 blog-section">
        <div class="box-outer">
            <div class="box-inner">

                <div>
                    <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
                    <style type="text/css">
                            #mc_embed_signup {
                                clear: left;
                                font: 14px Helvetica,Arial,sans-serif;
                            }
                            /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                        We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                    </style>
                    <div id="mc_embed_signup">
                        <form action="//shelbymurphy.us8.list-manage.com/subscribe/post?u=c2da9331ae57937697fba34fa&amp;id=717be50e19" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                                <h4>Sign up for our Health &amp; Happiness Newsletter and get motivating health and fitness tips and articles</h4>
                                <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                                <div class="mc-field-group">
                                    <label for="mce-EMAIL">
                                        Email Address  <span class="asterisk">*</span>
                                    </label>
                                    <input type="email" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL">
                                </div>
                                <div class="mc-field-group">
                                    <label for="mce-FNAME">First Name </label>
                                    <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME">
                                </div>
                                <div class="mc-field-group">
                                    <label for="mce-LNAME">Last Name </label>
                                    <input type="text" value="" name="LNAME" class="form-control" id="mce-LNAME">
                                </div>
                                <div class="mc-field-group">
                                    <label for="mce-MMERGE3">State </label>
                                    <input type="text" value="" name="MMERGE3" class="form-control" id="mce-MMERGE3">
                                </div>
                                <div class="mc-field-group">
                                    <label for="mce-MMERGE4">Country </label>
                                    <input type="text" value="" name="MMERGE4" class="form-control" id="mce-MMERGE4">
                                </div>
                                <div id="mce-responses" class="clear">
                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c2da9331ae57937697fba34fa_717be50e19" tabindex="-1" value=""></div>
                                <div class="clear"><input type="submit" value="Sign Me Up!" name="subscribe" id="mc-embedded-subscribe" class="btn btn-info"></div>
                            </div>
                        </form>
                    </div>
                    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
                    <script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='MMERGE3';ftypes[3]='text';fnames[4]='MMERGE4';ftypes[4]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>


                </div>
            </div>

        </div>
        <div class="box-outer">
            <a href="http://www.challengecharity.com"><img src="~/Content/images/ChallengeCharity.png" alt="Challange: Charity logo" class="ch-charity"/></a>
        </div>
    </div>
</div>

 <script>
    $(function () {
        $('#blogs').dataTable({
            "lengthMenu": [5, 10, 15, 25],
            "order": [[0, "desc"]]
        }).removeClass("dataTable");
    });
</script> 

